- comentarios em python é o: '#'
- operadores artiméticos e relacionais: +, -, *, /, //, %, **, <, >, ==
- raciocíno lógico
- não comentar código errado

In [ ]:
# Adição
10 + 2

False

In [ ]:
# Subtração
10 - 2

In [ ]:
# Multiplicação
10 * 2

In [ ]:
# Divisão
10 / 2

In [ ]:
# Divisão inteira
10 // 2

In [ ]:
# Resto da divisão
10 % 2

In [ ]:
# Potenciação
10 ** 2

In [ ]:
# Menor
10 < 2

In [ ]:
# Maior
10 > 2

In [ ]:
# Maior ou igual
10 >= 2

In [ ]:
# Menor ou igual
10 <= 2

In [ ]:
# Igual
7 == 7

In [ ]:
# Diferente
7 != 7

In [ ]:
# Operador Lógico 'And'
print(10 > 2 and 4 < 6)   # V and V = V
print(10 > 2 and 4 > 6)   # V and F = F
print(10 < 2 and 4 < 6)   # F and V = F
print(10 < 2 and 4 > 6)   # F and F = F

In [ ]:
# Operador Lógico 'Or'
print(10 > 2 or 4 < 6)    # V or V = V
print(10 > 2 or 4 > 6)    # V or F = V
print(10 < 2 or 4 < 6)    # V or F = V
print(10 < 2 or 4 > 6)    # F or F = F

In [ ]:
# Operador Lógico 'Not': inverte a resposta
not 10 > 2    # V = F
not 10 < 2    # F = V

- Váriaveis

ficam alocadas em espaços na memória

In [ ]:
# Nome da váriavel é "x" que armazena o valor 10 em um espaço na memória
x = 10
print(x)

- Regras

**Case Sensitive**

A != a

**Boas práticas com váriaveis**

> Exemplo Multiplicação de 2 nºs

Não usar
* Multiplicação
* MultiplicaçãoDeDoisNumeros
* m

Usar
* multiplicacao
* mult
* mult_total (snake_case)

* Tipos de váriaveis

> Int(Inteiro) num = 10

> Float(Real) num = 10.5

> String(Texto) nome = "Rodrigo"

Visualização de Váriáveis e Textos

In [ ]:
print('Conhecendo o comando print')

x = 8
print(x)

In [ ]:
y = 10
soma = x + y
print(soma)

In [ ]:
nome = 'Rodrigo Rebouças'
print(nome)

Concatenação

In [ ]:
x = 5
print('O valor de x é: ', x)

In [ ]:
print('O valor de x é: ', x, 'e o dobro é', x * 2)

In [ ]:
print('Eu,', nome, 'tirei', x, 'na prova de Python')

In [ ]:
x = 10; z = 20 + x - y

print('Declarar váriaveis na mesma linha:', y, z)

Type

In [ ]:
x = 10
type(x)
print('x', type(x))

nome = 'Rodrigo'
print('nome', type(nome))

num = '100'
num_convert = int(num) # convertendo o tipo de váriavel
print('num', type(num))
print('num_convert', type(num_convert))

num_float = float(num)
print('num_float', type(num_float))

Input
- armazena a informação digitada pelo usuário em uma váriavel
- o dado armazenado sempre será um texto

In [ ]:
nome = input('Qual o seu nome? ')
print(nome)

In [ ]:
nota = input('Digite a nota: ')
print(nome, 'a nota foi', nota)

In [ ]:
valor = input('Digite o valor do produto: ')
print(valor)

Digite o valor do produto: 100
100

In [ ]:
desconto = valor - 5

In [ ]:
valor_convert = int(valor)
desconto = valor_convert - 5
print(desconto)

In [ ]:
desconto = int(valor) - 5
print(desconto)

95

Condicional

In [ ]:
# If
if 5 < 10:
    print('Verdadeiro')

Verdadeiro

In [ ]:
# IF/ else
num1 = 10
num2 = 5
if num1 > num2:
    print('O num2 é o maior número')
else:
    print('O num2 é o maior número')

In [ ]:
# If/ elif/ else
num1 = 10
num2 = 10
if num1 > num2:
    print('O num1 é o maior número')
elif num1 < num2:
    print('O num2 é o maior número')
else:
  print('Os números são iguais')

Os números são iguais

Condicional com operadores Lógicos

In [ ]:
num1 = 10
num2 = 5
num3 = 2
if (num1 > num2) and (num1 > num3):
    print('O num1 é o maior número')
elif (num2 > num1) and (num2 > num3):
    print('O num2 é o maior número')
else:
    print('O num3 é o maior número')

Lista, tuplas e dicionários

In [ ]:
# Lista
[1,2,3,4,5]

In [ ]:
# Tupla
(1,2,3,4,5)

In [ ]:
# Dicionário
{'num1': 1, 'num2': 2}

Lista

In [ ]:
lista = [5, 'Rodrigo', 8.9]

In [ ]:
type(lista)

list

In [ ]:
lista.append('Augusto') # Adicionar um elemento na lista

In [ ]:
print(lista)
print(lista[1])

[5, 'Rodrigo', 8.9, 'Augusto']
Rodrigo

Tupla

In [ ]:
tupla = (5, 'Rodrigo', 8.9)

In [ ]:
type(tupla)

tuple

In [ ]:
tupla.append('Augusto') # Não é possível adicionar um elemento na tupla

In [ ]:
print(tupla)

(5, 'Rodrigo', 8.9)

Dicionário

In [ ]:
dicionario = {'nome':'Rodrigo', 'cidade': 'São José dos Campos'}

In [ ]:
type(dicionario)

dict

In [ ]:
print(dicionario)

{'nome': 'Rodrigo', 'cidade': 'São José dos Campos'}

In [ ]:
print(dicionario['nome'])

Rodrigo

In [ ]:
dicionario['ultimo_nome'] = 'Rebouças'

In [ ]:
print(dicionario)

{'nome': 'Rodrigo', 'cidade': 'São José dos Campos', 'ultimo_nome': 'Rebouças'}

Laço de repetição 'FOR'

In [ ]:
for contador in range(19):
    print(contador)

0
1
2
3
4

In [ ]:
# For Range + Break
for contador in range(1000):
  print(contador)
  if contador == 2:
    break

In [ ]:
lista = ['Teste1', 'Teste2']

In [ ]:
# For simples
for val in lista:
  print(val)

Teste1
Teste2

In [ ]:
# For com enumerate
for i, val in enumerate(lista):
  print(i+1, val)

1 Teste1
2 Teste2

For com operadores compostos

In [ ]:
lista2 = [2, 3, 4]

In [ ]:
for val in lista2:
  val += 1
  print(val)

3
4
5

In [ ]:
for val in lista2:
  val *= 2
  print(val)

4
6
8

Laço de repetição 'While'

In [ ]:
val = 1
while val < 6:
    val *= 2
    print(val)

2
4
8

In [ ]:
# While com else
val = 5
while val < 6:
    val *= 2
else:
    print('Valor final de val é: ', val)

Valor final de val é:  10

In [ ]:
feedbacks = ['muito bom', 'bom', 'ruim']

cliente = {
    'nome': 'Rodrigo',
    'idade': 30,
    'feedback': "muito satisfeito"
}

print('Feedbacks dos clientes: \n')
for feedback in feedbacks:
    print('-' + feedback)

print('-'*10)

print('Informações do cliente:')
print('\nNome:', cliente['nome']) # '\n' quebra uma linha
print('Idade:', cliente['idade'])
print('Feedbacks:', cliente['feedback'])

Feedbacks dos clientes:

-muito bom
-bom
-ruim
----------
Informações do cliente:

Nome: Rodrigo
Idade: 30
Feedbacks: muito satisfeito

In [ ]:
notas = [85, 92, 78, 90, 88]

soma = 0
for nota in notas:
    soma += nota
media = soma / len(notas)

alunos_aprovados = []
alunos_reprovados = []

for nota in notas:
    if nota >= media:
        alunos_aprovados.append(nota)
    else:
        alunos_reprovados.append(nota)

print('Notas dos alunos', notas)
print('Média das notas:', media)
print('Alunos aprovados:', alunos_aprovados)
print('Alunos reprovados:', alunos_reprovados)

Notas dos alunos [85, 92, 78, 90, 88]
Média das notas: 86.6
Alunos aprovados: [92, 90, 88]
Alunos reprovados: [85, 78]

CONCATENATION:
- O processo de unir duas ou mais strings em uma única string. Em Python, isso é feito usando o operador `+`.

MARKDOWN:
- Uma linguagem de marcação leve usada para formatar texto em notebooks do Google Colab. Permite adicionar cabeçalhos, listas, links, imagens e outros elementos de formatação.

NOTEBOOK:
- Um documento interativo que pode conter código executável, visualizações, texto formatado e outros elementos. No Google Colab, notebooks são usados para escrever e executar código Python.

TYPE CONVERSION:
- O processo de converter um valor de um tipo de dado para outro, como de string para inteiro ou de float para string. Em Python, isso pode ser feito usando funções como `int()`, `float()`, e `str()`.

In [ ]:
# Solicita o nome do usuário e o exibe
nome_usuario = input('Por favor, insira seu nome: ')
print(f'Olá, {nome_usuario}! Bem-vindo ao nosso sistema.')

# Solicita a idade do usuário e converte para inteiro
idade_usuario = int(input('Por favor, insira sua idade: '))

# Verifica se o usuário é maior de idade
if idade_usuario >= 18:
    print('Você é maior de idade.')
else:
    print('Você é menor de idade.')

Por favor, insira seu nome: matheo
Olá, matheo! Bem-vindo ao nosso sistema.
Por favor, insira sua idade: 24
Você é maior de idade.

In [ ]:
# Exemplo de uso de listas e dicionários em Python

# Lista de registros de vendas
vendas = [
    {"produto": "A", "quantidade": 10, "preco": 5.0},
    {"produto": "B", "quantidade": 5, "preco": 7.5},
    {"produto": "C", "quantidade": 8, "preco": 3.0}
]

# Dicionário para mapear IDs de produtos para detalhes
produtos = {
    "A": {"nome": "Produto A", "categoria": "Categoria 1"},
    "B": {"nome": "Produto B", "categoria": "Categoria 2"},
    "C": {"nome": "Produto C", "categoria": "Categoria 1"}
}

# Calcular receita total
receita_total = 0
for venda in vendas:
    receita_total += venda["quantidade"] * venda["preco"]

print(f"Receita Total: {receita_total}")

# Exibir detalhes dos produtos vendidos
for venda in vendas:
    produto_id = venda["produto"]
    detalhes = produtos[produto_id]
    print(f"Produto: {detalhes['nome']}, Categoria: {detalhes['categoria']}, Quantidade Vendida: {venda['quantidade']}")

Receita Total: 111.5
Produto: Produto A, Categoria: Categoria 1, Quantidade Vendida: 10
Produto: Produto B, Categoria: Categoria 2, Quantidade Vendida: 5
Produto: Produto C, Categoria: Categoria 1, Quantidade Vendida: 8